/* common button */
.order_now{
    color: var(--light-black);
    background: var(--yellow);
    border-color: var(--yellow);
    padding: 15px 38px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: var(--oswald-font);
    vertical-align: middle;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.order_now:hover,
.order_now:focus{
    color: var(--white);
    background-color: transparent;
    border-color: var(--white);

}

.btn_red{
    color: var(--white);
    background-color: var(--light-red);
    border-color: var(--light-red);
}

.btn_red:focus,
.btn_red:hover{
    color: var(--light-red);
    background-color: transparent;
    border-color: var(--light-red);
}